**/*.cbp
**/.DS_Store
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts
**/CTestTestfile.cmake
**/Makefile
**/cmake-build-debug
**/cmake_install.cmake
**/compile_commands.json
**/install_manifest.txt
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
*.swp
.bash/
.idea/workspace.xml
bii/
bin/
lib/
build/
cmake-build-debug/
spec/ccspec
.idea/serial*
